
:root,body{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*colors*/
:root{
--color-degrad-uno: linear-gradient(#00ffe0 0%, #ea64ff 58.32%, #00d5ff 100%);
--color-degrad-dos: linear-gradient(#00d5ff 0%, #ea64ff 49.53%, #006b80 100%);
--color-degrad-uno-opacity:  linear-gradient(rgba(0, 255, 224, 0.44) 0%, rgba(234, 100, 255, 0.5) 58.32%, rgba(0, 213, 255, 0.49) 100%);
--color-header-opacity:rgba(138, 138, 138, 0.27);
--color-yellow-dark:#dbe080;
--color-fucsia:#ea64ff;
--color-blue:#00d5ff;
--color-blue-light:#00ffe0;
--color-yellow-cake:#faff8e;
--color-yellow-opaque:#fffdce;
--color-yellow-opaque-dos:#faff8e;
--color-yellow-opacity: rgba(255, 253, 206, 0.19);
--color-gray-d:#707070;
}
/*nonito fonts*/
@font-face {
  font-family: Nonito-Regular;
  src: url('/src/assets/fonts/Nonito/Nunito-Regular.ttf');
}
@font-face {
  font-family: Nonito-SemiBold;
  src: url('/src/assets/fonts/Nonito/Nunito-SemiBold.ttf');
}
@font-face {
  font-family: Nonito-Bold;
  src: url('/src/assets/fonts/Nonito/Nunito-Bold.ttf');
}
@font-face {
  font-family: Nonito-ExtraBold;
  src: url('/src/assets/fonts/Nonito/Nunito-ExtraBold.ttf');
}
@font-face {
  font-family: Nonito-Light;
  src: url('/src/assets/fonts/Nonito/Nunito-Light.ttf');
}

/*poppins fonts*/
@font-face {
  font-family: Poppins-Regular;
  src: url('/src/assets/fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('/src/assets/fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('/src/assets/fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('/src/assets/fonts/poppins/Poppins-SemiBold.ttf');
}
@font-face {
  font-family: Poppins-Light;
  src: url('/src/assets/fonts/poppins/Poppins-Light.ttf');
}
/**overlay*/
.overlay{
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: hidden;
  
} 


.animationLoader{
  content: url('/src/assets/images/iconLoader.png');
  position: absolute;
  width: 100px;
  height: 110px;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: rotate 4s linear 0s infinite normal forwards;
  font-family: "Nonito-Bold";
}

.overlay span{
  position: absolute;
  width: 100px;
  height: 110px;
  top:1;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-family: "Nonito-ExtraBold";
}

/*principal */
.experience{
  width: 100vw;
  height: 100vh;
  overflow: hidden;/*arreglar esto*/
}
canvas.m{
  display: block;
  padding: 0;
  margin: 0;
  background-color: black;
}
.box_content{
  width: 100%;
  position: relative;/*no ocupa toda la pantalla pero conserva propiedades en los hijos*/
  
}
.box_content::after{
  content: "";
  clear: both;
  display: block;
}
header{
  position: absolute;
  width: 100%;
  height: 80px;
  background: var(--color-header-opacity);
  z-index: 2;
}

.box_content main{
  /*igual que en box_content no ocupa la pantalla completa solo se usa de referencia*/
  position: absolute;
  top: 200px;
  left: 50px;
  width: 100%;
  height: 100%;
}
main .panel_Bienvenida{
  width: 500px;
  height: 300px;
  border-radius: 59px;
  background: var(--color-yellow-opacity);
  padding: 20px;
  align-items: center;
  align-content: center;
  display: block;
}
.panel_Bienvenida .box{
  width: 370px;
  margin: auto;
  padding: 20px;
}
.panel_Bienvenida .title{
  font-family: "Nonito-ExtraBold",sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 45px;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.16);
  color:var(--color-yellow-cake);
  
}
.panel_Bienvenida .name{
  font-family: "Nonito-ExtraBold",sans-serif;
  font-size: 15px;
  color: var(--color-yellow-cake);
  text-shadow:  0px 0px 7px rgb(237 233 233), 0px 0px 2px rgb(17 16 16 / 88%);
}

.btn_continue{
  width:80px;
  display: block;
  margin: auto;
  background: transparent;
  padding: 10px;
  margin-top: 10px;
  border: none;
}
.btn_continue i{
  font-size: 50px;
  color: var(--color-blue-light);
  filter: drop-shadow(5px 6px 10px rgba(0, 0, 0, 0.16));
  -webkit-text-shadow: 9px 23px 103px 0px rgba(0,0,0,1);
  -moz-text-shadow: 9px 23px 103px 0px rgba(0,0,0,1);
  text-shadow: 9px 23px 103px 0px rgba(0,0,0,1);
 
  cursor: pointer;
}

/*Menu horizontal*/
#navButton{
  display: inline-block;
  border-radius: 14px;
  background: var(--color-blue-light);
  text-align: center;
  padding: 10px 12px;
  margin-top: 10px;
  margin-left: 20px;
  cursor: pointer;
  border: none;
}


#navButton i{
  font-size: 32px;
  color: white;
}
/*class toggle menu btn navButton js*/
.navButtonClose{
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
.navButtonClose i{
  font-size: 25px;
  color:white;

}
.navButtonClose i::before{
  font-family: Font Awesome 6 Free;
  content: "\f00d";
  
}
/*class toggle menu btn box_btn js*/
.active{
  filter: drop-shadow(-1px 10px 20px rgba(50,50,50,0.5));
  position: relative;
  right: -270px;
  z-index: 10000;
  transition: all .5s;
}

nav{
  width: 400px;
  height: 100vh;
  position: absolute;
  top: 0;
  display: block;
  background-color: white;
  clip-path: polygon(0 0, 100% 0, 12% 100%, 0% 100%);
  z-index: 1000;
  display: none;
}
nav ul.items{
  width: 200px;
  display: block;

  list-style-type: none;
  padding: 20px;
  position: relative;
  top: 70px;
  left: 20px;  
}
nav .items li {
  font-family: "Nonito-Bold",sans-serif;
  font-weight: normal;
  font-size: 28px;
  text-align: center;
 
  border-bottom: 3px solid black;
  border-radius: 1px;
  
  margin: 0;
  padding: 10px;


}
nav .items a {
  display: block;
  color: var(--color-yellow-dark);
  text-decoration: none;
  text-transform: uppercase;
}

/*fin nav*/

/*panel descripcion de objetos*/
.wondererContainer{ 
  /*posicion inicial relativa en wonderContainer debido a posA en animateBack*/
  display: none;
  
}

.wondererContainer.posA{/*auxiliar togle*/
 
  animation-duration: .3s;
  animation-name: animateBack;
  animation-fill-mode: forwards;
  z-index: 3;
}
@keyframes animateBack {/*botones en posicion con descripcion*/
  
  from {/*parte de la posicion de animatenext*/
    position: absolute;
    display: block;
    top: calc(85vh - 200px);
    left: calc((50% - 12%) - 50px);
    width: 18%;
    background: var(--color-yellow-opacity);
  }
  to {
    position: relative;
    right: -45%;
    top: calc(18vh - 200px); 
    width: 420px;
    height: 490px;
    background-color: transparent;
   
  }
  
}
.wondererContainer.posB{/*auxiliar togle*/
 
  background: var(--color-yellow-opacity);
  display: block;
  border-radius: 10px;
  background: var(--color-yellow-opacity);
  animation-duration: .3s;
  animation-name: animateNext;
  animation-fill-mode: forwards;
  animation-timing-function: linear;

}

@keyframes animateNext {/*botones en posicion sin descripcion*/
  from {
    position: relative;
    right: -45%;
    top: -50px;
    width: 420px;
    height: 490px;
    background-color: transparent;
  }
  to {
    position: absolute;
    display: block;
    top: calc(85vh - 200px);/*200px de contenedor main*/
    left: calc((50% - 12%) - 50px);
    /*left:50px de contenedor main y 9% de widthwonderContainer/2 + 3%=12% de margen*/
    width: 18%;
    background: var(--color-yellow-opacity);
  }
}


.panel_Descripcion{
  
  
  
  border-radius: 20px;
  background: var(--color-degrad-uno-opacity);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 20px;
  display: none;
}
.panel_Descripcion .body_description{
  /*border: 1px solid red;*/
  padding: 20px;
}

.body_description .title_desc{
  font-family: "Nonito-Bold",sans-serif;
  font-weight: normal;
  font-size: 44px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  display: block;

}
.body_description .description_desc{
  font-family: "Nonito-Light",sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: left;
  color: #fff;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}
.body_description .subtitle_desc{
  font-family: "Nonito-Bold",sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  color: #fff;
  display: block;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.body_description .tecnologies_desc{
  font-family: "Nonito-Light",sans-serif;
  font-weight: 300;
 /* height: 110px;*/
  font-size: 18px;
  text-align: left;
  color: #fff;
  display: block;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  /*border: 2px solid blue;*/
}

.body_description .box_btns_desc{
  padding: 20px;
  display: block;
  text-align: center;
  margin-top: 20px;
  padding-top: 30px;
 /* border: 1px solid red;*/
}

.body_description .box_btns_desc .buttonLink{
 
  font-size: 22px;
  border-radius: 10px;
  background: var(--color-blue-light);
  color: white;
  font-family: "Nonito-Bold",sans-serif;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
  
}

.body_description .box_btns_desc a:nth-child(1){
  padding: 10px 15px;
  margin-right: 2px;
}
.body_description .box_btns_desc i{
  font-size: 24px;
  padding: 0px 8px;
  color: whitesmoke;
}
.body_description .box_btns_desc a:nth-child(2){
  text-decoration: none;
  
  padding: 10px 30px;
  margin-left: 2px;
  
}
.body_description .box_btns_desc a:nth-child(3){
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 2px;
}
/*button directions*/


.wondererContainer .btn_directions{
  
  display: block;
  
}
.wondererContainer .btn_directions::after{
  content: "";
  display: block;
  clear: both;
}
.wondererContainer .aux_btns{

  width: 100%;
  height: 100%;
}
.wondererContainer .aux_btns.auxA{
  position: absolute;
}
.wondererContainer .aux_btns.auxB{
  position: none;
}


.btn_directions.posBtnA{/**call in js method switchDecoration*/
  width: 150%;
  position: absolute;
  top: 40%;
  left: -25%;
  }

.btn_directions.posBtnB{/**call in js method switchDecoration*/
   /*se aplica estilo solo en el contenedor (tiene que estar vacia)*/
   animation-duration: .1s;
   animation-name: animatePos;
   animation-fill-mode: forwards;
   animation-timing-function: linear;
}

@keyframes animatePos {
 from{
   width: 150%;
   position: absolute;
   top: 40%;
   left: -25%;
 }
 to{
   width: auto;
   display: block;
   position: initial;
   top: initial;
   left: initial;
   }
}
.wondererContainer .aux_btns button{
 
  color:var(--color-blue-light);
  font-size: 70px;
  background: none;
  border: none;
  cursor: pointer;

}
.wondererContainer .aux_btns button i{
  filter: drop-shadow(3px 6px 6px rgba(0, 0, 0, 0.20));
  
}
.wondererContainer .aux_btns .boxBtnClose{
  position: absolute;
  width: 100%;
  height: 100%;
}
.wondererContainer .aux_btns .boxBtnClose::after{
  content: "";
  display: block;
  clear: both;

}
.wondererContainer .aux_btns .boxBtnClose button:nth-child(1)
{
  display: inline;
  float: right;
  font-size: 40px;
  padding: 10px 20px;
}


.wondererContainer .aux_btns .btn_directions button:nth-child(1)
{
  float: left;
}
.wondererContainer .aux_btns .btn_directions button:nth-child(2){
  float: right;
}


/** next code its call from js @method: switchDecoration*/


.wondererContainer .aux_btns.auxB .boxBtnClose button:nth-child(1){
  /*no es necesario llamar desde js, es toggle automatico cuando llama a auxB */
  float: none;
  width: 100%;
  margin: auto;
  padding: 20px;
}
.wondererContainer .btn_directions.posBtnB button:nth-child(1){
  /*no es necesario llamar desde js, es toggle automatico cuando llama a posBtnB*/ 
  float: left;
}
.wondererContainer .btn_directions.posBtnB button:nth-child(2){
  /*no es necesario llamar desde js, es toggle automatico cuando llama a posBtnB */
  float:right;
}
/**fin buttons directions*/

/*end call js*/


/*contenedeor de sombra modal  en uso*/
.modal_shadow{
border: 1px solid black;
position: absolute;
top: calc(0px - 200px);/*200 main*/
left: calc(0px - 50px);
width: 100vw;
height: 100vh;
background: url('/src/assets/images/background_shadow_linear.png');
background-repeat: no-repeat;
background-position: right;
background-size: cover;
animation: fadeIn .5s ease 0s 1 normal forwards;
}
.modal_shadow.modalA{/*auxiliar active in js */
  display: none;
}
.modal_shadow.modalB{/*auxiliar active in js */
  display: block;
  
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.7;
	}
}

/*layout movil default*/
@media only screen and (max-width:767px) {

body{
  font-size: 16px;
}

  canvas.m{
    display: block;
    padding: 0;
    margin: 0;
    background-color: black;
  }

/*pael bienvenida movil*/

.box_content main{
  position: absolute;
  top: 400px;
  left: 0px;
  width: 100%;
  height: 100%;
}
main .panel_Bienvenida{
  width: 75%;
  height: 22vh;
  border-radius: 29px;
  background: var(--color-yellow-opacity);
  padding: 0.625%;
  align-items: center;
  align-content: center;
  margin: auto;

}
.panel_Bienvenida .box{
  width: 75%;
  height: 50%;
  margin: auto;
  padding:20px;
}
.panel_Bienvenida .title{
  font-family: "Nonito-ExtraBold",sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.375em;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.16);
  color:var(--color-yellow-cake);
  display: block;
}
.panel_Bienvenida .name{
  font-family: "Nonito-ExtraBold",sans-serif;
  display: block;
  font-size: 0.9em;
  color: var(--color-yellow-cake);
  text-shadow:  0px 0px 7px rgb(237 233 233), 0px 0px 2px rgb(17 16 16 / 88%);
}

.btn_continue{
  width:25%;
  height: 50%;
  display: block;
  margin: auto;
  background: transparent;
  padding: 0px;
  margin-top: 0px;
  border: none;
  position: relative;
  top: calc(-22vh + 125% - 40px);/*(.box) -height + 100%+25% - padding(box 20px top bottom)*/
  

}
.btn_continue i{
  font-size: 50px;
  color: var(--color-blue-light);
  filter: drop-shadow(5px 6px 10px rgba(0, 0, 0, 0.16));
  -webkit-text-shadow: 9px 23px 103px 0px rgba(0,0,0,1);
  -moz-text-shadow: 9px 23px 103px 0px rgba(0,0,0,1);
  text-shadow: 9px 23px 103px 0px rgba(0,0,0,1);
 
  cursor: pointer;
}


/*Menu horizontal movil*/
header{
  height: 10vh;
  background: var(--color-blue-light);
}
#navButton{
  display: block;
  border-radius: 14px;
  background: var(--color-blue-light);
  text-align: center;
  padding: 6px 10px;
  margin-top: 10px;
  margin-left: 0;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  float: right;
}

#navButton i{
  font-size: 32px;
  color: white;
}

#navButtonClose{
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
.active{
  filter: drop-shadow(-1px 10px 20px rgba(50,50,50,0.5));
  position: relative;
 
  right: -0px;
  z-index: 10000;
  transition: all .5s;
}

#navButtonClose i{
  font-size: 25px;
  color:white;
}
nav{
  width: 100%;
  height: 50vh;/*cambiar 65 movil*/
  position: relative;
  top: 100%;
  display: block;
  background-color: white;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 51% 66%, 0 100%);
  z-index: 1000;
  padding: 0;
}
nav ul.items{
  
  width: 80%;
  display: block;
  margin: auto;
  position: relative;
  top:20px;
  left: 0px;  
  list-style-type: none;
  padding: 0px;

}
nav .items li {
  width: 100%;
  display:block;
  margin: auto;
  font-family: "Nonito-Bold",sans-serif;
  font-weight: normal;
  font-size: 1.125rem;
  text-align: center;
  
  border-bottom: 3px solid black;
  margin: 0px;
  padding: 0px;
}
nav .items a {
  display: block;
  color: var(--color-yellow-dark);
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 20px;
}

/*fin nav movil*/




/*panel descripcion de objetos movil*/
.wondererContainer.posA{/*auxiliar togle*/
  
  animation-duration: .3s;
  animation-name: animateBack;
  animation-fill-mode: forwards;

  
}
@keyframes animateBack {
  
  from {
    position: absolute;   
    top:calc(85vh - 400px);/*(-400) de main*/
    left: calc(50% - 22%);
    width: 40%;
    margin: auto;
  }
  to {
    width: 70%;
    height: 350px;
    position: relative;
    right: 0;
    top: calc(45vh - 400px);
    margin: auto;
  }
}
.wondererContainer.posB{/*auxiliar togle*/
 
  border-radius: 10px;
  background: var(--color-yellow-opacity);
  animation: animateNext 1s ease 0s 1 normal forwards;
}

/*animacion de expancion junto con reposicionamiento de botones auxiliares*/
@keyframes animateNext {

  0% {
    width: 70%;
    height: 350px;
    position: relative;
    right: 0;
    top: calc(45vh - 400px);
    margin: auto;
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% { 
    position: absolute;   
    top:calc(85vh - 400px);/*(-400) de main*/
    left: calc(50% - 22%);/*-22& =  40% width/2 + 2 margen*/
    width: 40%;   
    margin: auto;
		transform: scale3d(1, 1, 1);
	}
}


.panel_Descripcion{
  
  display: none;
  
  border-radius: 20px;
  background: var(--color-degrad-uno-opacity);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding:3%;
  
}
.panel_Descripcion .body_description{
  padding: 5%;
}

.body_description .title_desc{
  font-family: "Nonito-Bold",sans-serif;
  font-weight: normal;
  font-size: 1.375em;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  display: block;

}
.body_description .description_desc{
  font-family: "Nonito-Light",sans-serif;
  font-weight: 300;
  font-size: 0.875em;
  text-align: left;
  color: #fff;
  display: block;
  margin-top: 12px;
  margin-bottom: 12px;
}
.body_description .subtitle_desc{
  font-family: "Nonito-Bold",sans-serif;
  font-weight: bold;
  font-size: 1em;
  text-align: left;
  color: #fff;
  display: block;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.body_description .tecnologies_desc{
  font-family: "Nonito-Light",sans-serif;
  font-weight: 300;
  font-size: 0.813em;
  text-align: left;
  color: #fff;
  display: inline-block;
  overflow: hidden;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  padding-inline-start: 30px;
}

.body_description .box_btns_desc{
  padding: 0px;
  display: block;
  text-align: center;
  margin-top: 4px;
  padding-top: 6px;

}

.body_description .box_btns_desc .buttonLink{
 
  border-radius: 10px;
  background: var(--color-blue-light);
  color: white;
  font-family: "Nonito-Bold",sans-serif;
  font-size: 0.875em;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border: none;
  cursor: pointer;
 
}
.body_description .box_btns_desc i{
  font-size: 0.813em;
  padding: 0px 8px;
  color: whitesmoke;
}
.body_description .box_btns_desc a:nth-child(1){
  padding: 8px 12px;
  margin-right: 2px;
}

.body_description .box_btns_desc a:nth-child(2){
  width:auto;
  padding: 8px 18px;
  margin-left: 2px;
}

.body_description .box_btns_desc a:nth-child(3){
  text-decoration: none;
  padding: 8px 18px;
  margin-left: 2px;
}
/*button directions*/

.wondererContainer .btn_directions{
  
  display: block;
  
}
.wondererContainer .btn_directions::after{
  content: "";
  display: block;
  clear: both;
}
.wondererContainer .aux_btns{

  width: 100%;
  height: 100%;
}
.wondererContainer .aux_btns.auxA{
  position: absolute;
}
.wondererContainer .aux_btns.auxB{
  position: none;
}


.btn_directions.posBtnA{/**call in js method switchDecoration*/
  width: 130%;/*width:70 wonderContainer + 30% = 100% + 15% left and right*/
  position: absolute;
  top: 40%;
  left: -15%;/*15 left and right*/

}

.btn_directions.posBtnB{/**call in js method switchDecoration*/
   /*se aplica estilo solo en el contenedor (tiene que estar vacia)*/
   animation-duration: .1s;
   animation-name: animatePos;
   animation-fill-mode: forwards;
   animation-timing-function: linear;
}

@keyframes animatePos {
 from{
   width: 150%;
   position: absolute;
   top: 40%;
   left: -25%;
 }
 to{
   width: auto;
   display: block;
   position: initial;
   top: initial;
   left: initial;
 }
}

 /*estilos de botones auxiliares movil*/
.wondererContainer .aux_btns button{
  color:var(--color-blue-light);
  font-size: 2.75em;
  background: none;
  border: none;
  cursor: pointer;
}
.wondererContainer .aux_btns button i{
  filter: drop-shadow(3px 6px 6px rgba(0, 0, 0, 0.20));
}
.wondererContainer .aux_btns .boxBtnClose{
  position: absolute;
  width: 100%;
  height: 100%;
}
.wondererContainer .aux_btns .boxBtnClose::after{
  content: "";
  display: block;
  clear: both;

}
.wondererContainer .aux_btns .boxBtnClose button:nth-child(1)
{
  display: inline;
  float: right;
  font-size: 1.563em;
  padding: 10px 15px;
}


.wondererContainer .aux_btns .btn_directions button:nth-child(1)
{
  float: left;
}
.wondererContainer .aux_btns .btn_directions button:nth-child(2){
  float: right;
}



/**call from js @method: switchDecoration*/
.wondererContainer .aux_btns.auxB .boxBtnClose button:nth-child(1){/*btn close*/
  /*no es necesario llamar desde js, es toggle automatico cuando llama a auxB */
  float: none;
  width: 100%;
  margin: auto;
  padding: 12px;
}
.wondererContainer .btn_directions.posBtnB button:nth-child(1){
  /*no es necesario llamar desde js, es toggle automatico cuando llama a posBtnB*/ 
  float: left;
}
.wondererContainer .btn_directions.posBtnB button:nth-child(2){
  /*no es necesario llamar desde js, es toggle automatico cuando llama a posBtnB */
  float:right;
}
/**fin buttons directions*/


/*contenedeor de sombra modal  en uso movil*/
.modal_shadow{
  border: 1px solid black;
  position: absolute;
  top: calc(0px - 400px);/*400 main movil*/
  bottom: 1px;
  left:0px;
  width: 100vw;
  height: 100vh;
  background: url('/src/assets/images/background_shadow_movil.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  animation: fadeIn .5s ease 0s 1 normal forwards;
  }
  .modal_shadow.modalA{/*auxiliar active in js */
    opacity: 0;
    display: none;
  }
  .modal_shadow.modalB{/*auxiliar active in js */
    display: block;
    opacity: 1;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


  

}


/*layout movil small screen*/
@media only screen and (max-width:321px) {
 
}